<h2>Renda</h2>
<br><br><br><br>
<h3>
    Categoria:
        <%= @income.category %>
</h3>

<h3>
    Valor:
        <%= @income.value %>
</h3>

<h3>
    Descriçao
    <br>
        <%= @income.description %>
</h3>

<%= link_to 'Back', incomes_path %>